$primary_1: #24323d;
$primary_2: #2e3e4d;
$primary_3: #374a5c;
$primary_4: #40576b;
$primary_5: #49637a;
$primary_6: #52708a;
$primary_7: #6b89a3;
$primary_8: #7c96ad;
$primary_9: #8ca3b8;
$primary_10: #9db0c2;

$secondary_1: #00b9bc;
$secondary_2: #00a5a7;
$secondary_3: #009092;
$secondary_4: #007c7d;
$secondary_5: #006769;
$secondary_6: #005254;
$secondary_7: #003e3f;
$secondary_8: #00292a;

body {
  background-image: url("images/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  align-items: center;
  
  color: azure;
  height: 100vh;
  
}

.App-header {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  background-color: $primary_3;
  color: azure;

  .logo {
    vertical-align: middle;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-height: 4vh;
  }

  .header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    min-height: 5vh;
    list-style: none;
    text-decoration: none;
    padding-right: 10vh;
    color: azure;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  
  P {
    margin-block-start: 0em;
    margin-block-end: 0em; 
  }

  img {
    max-width: 40vw;
    max-height: 30vh;
    margin: 2vw;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.button {
  text-align: center;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline;
  flex-direction: row;
  border-radius: 8px;
  padding: 12px 16px;
  min-width: fit-content;
  width: 10vh;
  min-width: fit-content;
  font-size: 16px !important;
  border: 2px solid;

  &.button1 {
    color: azure;
    background-color: #3a3b4d; 
    border-color: darkturquoise;
  }
  
  &.button2 {
    color: azure;
    background-color: #3a3b4d; 
    border-color: azure;  
  }
  
  &.button1:hover {
    color: azure;
    background-color: darkturquoise;
  }
  
  &.button2:hover {
    color: azure;
    background-color: darkturquoise;
  }
}

.pad-top {
  padding-top: 2vh;
}

.pad-bottom {
  padding-bottom: 2vh;
}

.pad-sides {
  padding: 0vh 1vh;
}

.pad-style-image {
  height: 50vh;
  justify-content: center;
  vertical-align: middle; 
  padding-left: 5vh;
  padding-right: 5vh;
}

.pad-block {
  padding-top: 20vh;
}

.pad-text {
  padding: 2vh;
}

.labelClass {
  color: black;
  background-color: black;
}

.style-select-image {
  max-height:30vh;
  border-radius: 12px;
  padding: 2vh;
}


.model-item-container {
  padding: 2vh;
  width: 800px;
  margin: 0 auto;

  .box-container {
    display: inline-block;
    
    .layer-box {
      display: inline-block;
    }
  }

  .layer-text-box {
    background-color: $primary_1;
    color: azure;
    padding: 0.5vh 1vh;
    border: 2px solid azure;
    min-width: fit-content;
    justify-content: center;
    width: 16vh;
    border: 1px solid azure;
    border-radius: 1px;
  }

  .layer-text-box:hover {
    background-color: $primary_6;
  }
}

.wrap {
  flex-direction: column !important;
  justify-content: center !important;
  vertical-align: middle;
  align-items: center !important;
}

.input-text-box {
  font-size: 26px;
  width: 20vh;
  padding: 1vh 2vh;
  text-align: center;
  background-color: $primary_10;
  border-radius: 5px;
  border: 2px solid $primary_3 !important;
  margin: 0 auto;
}

.select-style {
  width: 20vh;
}

.layer-weight {
  margin: 0 auto;
  padding: 5px 15px;

  &.enabled {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

// step-progress bubble
._2kL0S {
  background-color: $primary_5 !important;
}
// step-progress bubble done
._2JvrO {
  background-color: $secondary_2 !important;
}
// step-progress content padding to center "previous"/"next" button container
._2_g61 {
  height: 30vh;  
}
// "previous" button
._3CDiP {
  border-width: 1px;
  &:hover{
    background-color: $primary_1;
  }
}
// "next" button
._hsN1w {
  background-color: $primary_5 !important;
  border-color: $secondary_2 !important;
  border-width: 1px;
  &:hover {
    background-color: $primary_1 !important;
  }
}