.App {
  text-align: center;
  align-items: center;
  background-color: #282c34;
  color: azure;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: #3e4044;
  color: white;

  left {
    color: black;
    float: left;
  }

  right {
    flex-direction: row;
    float: right;
  }
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.header-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  width: 50%;
  list-style: none;
  color: azure;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  
  P {
    margin-block-start: 0em;
    margin-block-end: 0em; 
  }

  img {
    max-width: 40vw;
    max-height: 30vh;
    margin: 2vw;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

form {
  display: flex;
  align-items: flex-start;
  padding-top: 10vh;
  padding-left: 50vh;
  padding-right: 50vh;

  input[type="Submit"]:hover {
    background-color: #46B2AD;
  }
}



